@import "material-color/material-color";

@margin: 8px;

.ns-likes {
  .btn:focus {
    outline: none;
  }
}

.ns-likes-toggle {
  position: relative;
  color: @clr-grey-800;
}

.ns-likes-toggle:before {
  content: "\f08a";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: @clr-red-300;
}

.ns-likes-toggle.liked {
  color: @clr-grey-800;
}

.ns-likes-toggle.liked:before {
  content: "\f004" !important;
  color: @clr-red-500;
}

.ns-likes-users {
  display: inline-block;
  font-size: 0.8em;
  margin-right: @margin;
}

.ns-likes-votes {
  color: @clr-grey-500;
}